<div class="stories-index">
  <div class="banner">The Red Curtain</div>
  
  <div class="middle">
    <div class="navbar">
    <% if user_signed_in? %>
        <div class="navigation">
          <button><%= link_to "New story", new_story_path %></button>
        </div>
        <div class="logged-in">
          <button><%= link_to "Edit profile", edit_user_registration_path %></button>
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
        </div>
      <% else %>
        <div class="logged-out">
          <div>Do you want to see who's behind the curtain?</div>
          <button><%= link_to "Sign up", new_user_registration_path, data: { turbo: "false" } %></button>
          <div>Are you already an actor?</div>
          <button><%= link_to "Sign in", new_user_session_path, data: { turbo: "false" } %></button>
        </div>
      <% end %>
    </div>
    <div class="border">
      <div class="inner-border">
        <div class="stories">
          <% @stories.each do |story| %>
            <div class="story">
              <div class="title"><%= story.title %></div>
              <div class="body"><%= story.body.slice(0, 30) %><% if story.body.length > 30 %>(...)<% end %></div>
              <div class="author"><%= "by " %><% if user_signed_in? %><%= story.user.username %><% else %>Anonymous<% end %></div>
              <div><button><%= link_to "Read more", story %></button></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>